html, body {
    height: 100%;
}

body {
    background-image: url(../media/LoginBackground.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

#login {
    background-color: white;
    margin: 0 auto;
    width: 50%;
    border: 2px solid white;
    margin-top: 50px;
    padding: 10px;
}

#login > h1 {
    font-family: Helvetica;
    text-align: center;
}

.box{
    margin-bottom: 15px;
    padding-right: 10px;
}

.box > input {
    margin-top: 5px ;
    width: 100%;
}

.btn-group {
    text-align: center;
    padding-top: 50px;
}

.btn-group > button {
    padding: 10px 15px;
    margin-right: 5px;
}

.btn-blue{
    background-color: steelblue;
    color: white;
    font-weight: bold;
}