body {
    background-color: white;
}

h1 {
    color: purple;
}

.box1 {
    display: flex;
    padding: 5px;
    margin: 10px;
    box-shadow: 3px 3px 5px gray;
}

.imagecomponent {
    position: relative;
    padding: 10px;
}

.imagecomponent>img {
    width: 250px;
}

.text {
    margin-top: -5px;
    background-color: blueviolet;
    color: white;
    text-align: center;
    padding: 10px 0px;
    width: 250px;
}

.visi {
    margin: 20px;
    /* position: relative; */
    text-align: justify;
}

.box2 {
    text-align: center;
    padding: 10px;
    margin: 20px 10px;
    box-shadow: 3px 3px 5px gray;
    width: 50%;
}

.mix {
    display: flex;
}

.box2>iframe {
    width: 100%;
    height: 80%;
}

.matkul {
    text-align: center;
    width: 50%;
}

.box3 {
    text-align: center;
    padding: 10px;
    margin: 20px 10px;
    box-shadow: 3px 3px 5px gray;
    height: 30%;
}

.tabel {
    width: 100%;
    border-collapse: collapse;
}

.tabel>table,
th,
td {
    border: 1px solid black;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

/* mengubah warna table pada th */
/* .tabel > table, th {
    border: 1px solid red;
} */

.schedule {
    padding: 10px;
    margin: 10px;
    width: auto;
}

.nav {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
}

.nav>li {
    float: left;
    padding: 10px;
    margin: 5px;
    background-color: #fff;
    color: purple;
    border: 1px solid purple;
    border-radius: 5px;
}

.nav>li:hover {
    color: #fff;
    background-color: purple;
    cursor: grab;
}

.nav>li.active {
    color: #fff;
    background-color: purple;
}